.container-arrow {
    img {
        width: 80px;
        animation: float 3s ease-in-out infinite;
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container-qr {
    border: 4px solid black;
}

.input-pad {
    font-size: 38px !important;
	text-align: center;
}


